- referenced_users = local_assigns.fetch(:referenced_users, nil)

- if defined?(@merge_request) && @merge_request.discussion_locked?
  .issuable-note-warning
    = sprite_icon('lock', size: 16, css_class: 'icon')
    %span
      = _('This merge request is locked.')
      = _('Only project members can comment.')

.md-area.position-relative
  .md-header
    %ul.nav.nav-tabs.nav-links.clearfix
      %li.md-header-tab.active
        %button.js-md-write-button{ tabindex: -1 }
          = _("Write")
      %li.md-header-tab
        %button.js-md-preview-button{ tabindex: -1 }
          = _("Preview")

      %li.md-header-toolbar.active
        = render 'projects/blob/markdown_buttons', show_fullscreen_button: true

  .md-write-holder
    = yield
  .md.md-preview-holder.js-md-preview.hide{ data: { url: url } }
  .referenced-commands.hide

  - if referenced_users
    .referenced-users.hide
      %span
        = icon("exclamation-triangle")
        您添加了
        %strong
          %span.js-referenced-users-count 0
          人
        到此讨论。请谨慎行事。
