%ul.bordered-list.manage-labels-list
  - labels.each do |label|
    - options = { milestone_title: @milestone.title, label_name: label.title }

    %li.is-not-draggable
      %span.label-row
        %span.label-name
          = render_label(label, tooltip: false, link: milestones_label_path(options))
        %span.prepend-description-left
          = markdown_field(label, :description)

      .float-right.d-none.d-lg-block.d-xl-block
        = link_to milestones_label_path(options.merge(state: 'opened')), class: 'btn btn-transparent btn-action' do
          - pluralize milestone_issues_by_label_count(@milestone, label, state: :opened), '个未关闭问题', '个未关闭问题'
        = link_to milestones_label_path(options.merge(state: 'closed')), class: 'btn btn-transparent btn-action' do
          - pluralize milestone_issues_by_label_count(@milestone, label, state: :closed), '个已关闭问题', '个已关闭问题'
